*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --background-color: #eee;
  --text-color: #444;
  --warning-color: #eb6445;
  --button-background-color: rgb(5, 199, 131);
  --button-background-color-hover: rgb(0, 157, 120);
  --button-text-color: rgba(255, 255, 255, 0.9);
  --border-color: #bbb;
  --font-size: 20px;
  --smaller-font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  background: var(--background-color);
  color: var(--text-color);
}
header {
  padding: 2rem 1rem 1rem;
  display: flex;
  justify-content: center;
}
header h1 {
  margin: 0;
}
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem;
}
article {
  flex-basis: 24%;
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
article h2 {
  margin: 0;
}
article p {
  font-size: 1em;
  line-height: 1.5em;
}
article a {
  display: block;
  background: var(--button-background-color);
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  transition: background 0.3s;
}
article a:hover {
  background-color: var(--button-background-color-hover);
}
.fa-seedling {
  color: blue;
  font-size: 3em;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  article {
    background-color: #aaa;
  }
}

@media (max-width: 800px) {
  article {
    flex-basis: 48.5%;
  }
}

@media (max-width: 500px) {
  article {
    flex-basis: 100%;
  }
}

@media print {
  article {
    flex-basis: 100%;
    border: none;
  }
  p a {
    display: none;
  }
}

@media (max-height: 700px) {
  body {
    font-size: var(--smaller-font-size);
  }
}

@media (min-aspect-ratio: 16/9) {
  .fa-seedling {
    color: red;
    font-size: 2em;
  }
}
@media (monochrome) {
  /* monochrome: 0 indicates not */
  body {
    background-color: black;
    color: white;
  }
}
@media (orientation: portrait) {
}
@media (min-resolution: 240dpi) {
}
@media (hover: hover) {
  article:hover {
    background: #aaa;
  }
}
@media (hover: none) {
  /* any-hover: hover - test for any devices*/
  article {
    background: #bbb;
  }
}
@media (pointer: fine) {
  /* mouse - fine pointer */
}
@media (pointer: coarse) {
  /* touch - coarse pointer */
}
@media screen and (orientation: portrait), (any-pointer: coarse) {
}
@media only screen {
  /* for older browsers */
}
